.env

# for client
client/node_modules
client/.nuxt
client/dist
client/npm-debug.log
client/yarn-error.log

# for api
api/_coverage
api/node_modules
api/public/hot
api/public/storage
api/storage/*.key
api/vendor
api/.env
api/.env.backup
api/.phpunit.result.cache
api/Homestead.json
api/Homestead.yaml
api/npm-debug.log
api/yarn-error.log

# IDE
.idea
